/* Sytle */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

button,
i,
img {
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

input {
  outline: none;
}

/* Home Page */

.header__container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  align-items: center;
  background-color: rgb(240, 228, 196);
}

.logo {
  width: 170px;
  cursor: pointer;
}

.heading-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  margin: 0 30px;
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 600ms;
  cursor: pointer;
}

.heading:hover,
.button:hover {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  transform: scale(1.1);
}

.button {
  width: 100px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  background-color: darkorange;
  border: none;
  padding: 9px 10px;
  transition: all 800ms;
  cursor: pointer;
}

.home {
  background-color: rgb(240, 228, 196);
}

.home-page {
  background-color: rgb(240, 228, 196);
  margin-bottom: 5%;
}

.heading-title {
  margin: 70px 0 0 90px;
  width: 450px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 40px;
}

.page-text {
  margin: 10px 0 0 90px;
  width: 320px;
  opacity: 0.56;
  line-height: 30px;
}

.home-page-photo {
  background-color: rgb(240, 228, 196);
}

.photo {
  margin: 30px 0 0 70px;
  width: 540px;
  height: 480px;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 60px 0 0 90px;
}

.button-1 {
  border: none;
  background-color: darkorange;
  color: white;
  font-weight: bold;
  width: max-content;
  padding: 10px 8px;
  border-radius: 5px;
}

.button-2 {
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 120px;
  padding: 10px 8px;
  border-radius: 5px;
  margin-left: 15px;
}

.images {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 100px;
}

.img-1 {
  position: relative;
  right: 15px;
  width: 40px;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid #ffd4b2;
}
.img-2 {
  position: relative;
  right: 30px;
  width: 40px;
  z-index: 2;
  border-radius: 50%;
  border: 3px solid #ffd4b2;
}
.img-3 {
  position: relative;
  right: 45px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  border: 3px solid #ffd4b2;
}
.img-4 {
  position: relative;
  right: 60px;
  width: 40px;
  z-index: 4;
  border-radius: 50%;
  border: 3px solid #ffd4b2;
}
.img-5 {
  position: relative;
  right: 75px;
  width: 40px;
  z-index: 5;
  border-radius: 50%;
  border: 3px solid #ffd4b2;
}
.img-6 {
  position: relative;
  right: 90px;
  width: 40px;
  border-radius: 50%;
  z-index: 6;
  border: 3px solid #ffd4b2;
}

.images-text {
  font-weight: bold;
  font-family: sans-serif;
  margin: 10px 0 0 -80px;
}

span {
  color: darkorange;
}

/* /Home Page */

/* Main section ----------------------------------*/

.main-title {
  position: absolute;
  opacity: 0.57;
  text-align: center;
  margin-bottom: 7px;
}

.logos {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin: 20px 0 0 0;
}
.logo-1 {
  width: 180px;
  margin: 30px;
  filter: grayscale(100);
  transition: all 300ms;
}

.logo-1:hover {
  filter: none;
  transform: scale(1.1);
}

.logo-2 {
  width: 87px;
  filter: grayscale(100);
  margin: 30px;
  transition: all 300ms;
}

.logo-2:hover {
  filter: none;
  transform: scale(1.1);
}

.logo-3:hover {
  filter: none;
  transform: scale(1.1);
}

.logo-4:hover {
  filter: none;
  transform: scale(1.1);
}

.logo-5:hover {
  filter: none;
  transform: scale(1.1);
}

.logo-3 {
  width: 160px;
  filter: grayscale(100);
  margin: 30px;
  transition: all 300ms;
}

.logo-4 {
  width: 100px;
  margin: 30px;
  filter: grayscale(100);
  transition: all 300ms;
}

.logo-5 {
  width: 150px;
  margin: 30px;
  filter: grayscale(100);
  transition: all 300ms;
}

/* Section-2------------------------------ */

.section-2-title {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 34px;
}

.section-2-title h5 {
  margin-top: 35px;
  color: darkorange;
}

.section-2-title h1 {
  font-size: 39px;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  margin-top: 40px;
  height: 400px;
}

.section-text h1 {
  font-size: 70px;
  font-weight: 100;
  color: #b2b2b2;
  font-family: "Fredoka One", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Kulim Park", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Share", cursive;
}

.section-text p {
  width: 410px;
  line-height: 21px;
  margin-top: 15px;
  color: #73777b;
  font-size: 14px;
}

.section-text h4 {
  font-size: 23px;
}

.phone-background-1 {
  background-color: rgb(240, 228, 196);
  border-radius: 50%;
  margin: 0px 0 0 170px;
  height: 245px;
  width: 260px;
  padding: 40px 60px;
}

.phone-background-2 {
  background-color: #e1d7c6;
  border-radius: 50%;
  margin: -27px 0 0 -38px;
  height: 220px;
  width: 215px;
  text-align: center;
}

.phone {
  width: 170px;
  margin: -60px 0 0 0;
  transition: all 300ms;
}

.phone:hover {
  transform: scale(1.1);
}

/* ---------------------------------------------- */

.section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  margin-top: 40px;
  height: 400px;
}

.phone-background-3 {
  background-color: rgb(240, 228, 196);
  border-radius: 50%;
  margin: 0 170px 0 0;
  height: 245px;
  width: 260px;
  padding: 40px 60px;
}

/* ---------------------------------------------------- */

.section-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  margin-top: 40px;
  height: 400px;
}

/* Meals----------------------------------------------- */

.meals-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30%;
}

.meals-heading-1 {
  color: darkorange;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}

.meals-heading-2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
}

.japanes-gyozas {
  width: 294px;
  margin-top: 40px;
  height: 380px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.japanes-title {
  width: 270px;
  height: 200px;
  padding: 17px 0 60px 30px;
}

.vegetarian {
  text-align: center;
  color: black;
  font-size: 10px;
  border-radius: 7px;
  padding: 3px 3px 2px 2px;
  width: 76px;
  background-color: #38e54d;
}

.japanes {
  font-size: 20px;
  color: rgb(80, 78, 78);
  margin-top: 6px;
  margin-bottom: 10px;
}

.iconss {
  margin: -26px 0 0 0;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

.icons-title-1 {
  margin: 0 5px 0 35px;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(80, 78, 78);
}

.icons-2 {
  margin: 15px 0 0 0;
}

.icons-title-2 {
  margin: -28px 0 0 34px;
}

.icons-3 {
  margin: 11px 0 0 0;
}

.icons-title-3 {
  margin: -23px 0 0 34px;
}

.material-symbols-outlined {
  color: darkorange;
}

.avocado-salad {
  width: 294px;
  border-radius: 10px;
  margin-top: 40px;
  /* margin-left: 30px; */
  border: none;
  height: 380px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.avacado-title {
  width: 270px;
  height: 200px;
  padding: 17px 0 60px 30px;
}

.vegan {
  text-align: center;
  color: black;
  font-size: 10px;
  border-radius: 7px;
  width: 43px;
  padding: 2px 5px 1px 3px;
  background-color: #5bb318;
}

.paleo {
  margin-left: 12px;
  background-color: #ffb200;
  font-size: 10px;
  text-align: center;
  border-radius: 7px;
  padding: 1px 5px 1px 5px;
  width: 45px;
  color: black;
}

.avacado {
  font-size: 20px;
  color: rgb(80, 78, 78);
  margin-top: 6px;
  margin-bottom: 10px;
}

.avacado-icons {
  margin: -26px 0 0 0;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

.avacado-icons-title-1 {
  margin: 0 5px 0 35px;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(80, 78, 78);
  font-family: popins;
}

.feed-1 {
  width: 270px;
  border-radius: 12px 12px 0 0;
}

.feed-2 {
  width: 270px;
  border-radius: 12px 12px 0 0;
}

.table {
  width: 294px;
  border: none;
  margin: 40px 0 0 0;
  padding: 5px 0;
  border-radius: 10px;
  height: 380px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.table-title {
  font-size: 21px;
  color: rgb(80, 78, 78);
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 7px;
  padding: 15px 0;
}

.checks {
  color: darkorange;
  line-height: 7px;
  padding: 2px 0 0 40px;
}

.material-symbols-outlined {
  display: flex;
  justify-content: center;
  margin-right: 220px;
  font-size: 28px;
}

.check-text {
  font-family: popins;
  position: relative;
  top: -16px;
  padding: 0 0 0 40px;
  font-size: 17px;
  color: rgb(80, 78, 78);
}

.navigation-1 {
  color: darkorange;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  margin: -200px 0 10px 0;
  letter-spacing: 1px;
  text-decoration: underline;
}

/* Section---------------------------------------- */

.testimonials {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 10%;
  margin: 100px 0;
  gap: 30px;
  background-color: rgb(240, 228, 196);
}

.testimonials__info {
  width: 50%;
}

.comments {
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
  gap: 40px;
  margin-top: 80px;
}

.comment-1 {
  width: 220px;
  margin-right: 60px;
}

.comment-1 img {
  width: 50px;
  border-radius: 50%;
}

.comment-2 {
  width: 220px;
  margin-right: 60px;
}

.comment-2 img {
  width: 50px;
  border-radius: 50%;
}

.comment-3 {
  margin-top: 70px;
  width: 220px;
  margin-right: 60px;
}

.comment-3 img {
  width: 50px;
  border-radius: 50%;
}

.comment-4 {
  margin-top: 70px;
  width: 220px;
  margin-right: 60px;
}

.comment-4 img {
  width: 50px;
  border-radius: 50%;
}

.testimonials__info--title p {
  color: darkorange;
  font-size: 16px;
  font-weight: 400;
  font-family: popins-2;
}

.testimonials__info--title h2 {
  font-size: 36px;
  color: rgb(56, 55, 55);
  font-family: popins-2;
}

.testimonials_img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 50%;
  padding-right: 10px 10px;
}

.testimonials_img img {
  width: 160px;
}

/* -------------------------------------------------------------- */

.pricing__title p {
  color: darkorange;
  font-size: 16px;
  font-weight: 400;
  font-family: popins-2;
}

.pricing__title h2 {
  font-size: 32px;
  color: rgb(46, 46, 46);
  font-family: popins-2;
}

.starter__complete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 1px;
}

.starter {
  margin: 40px 0 0 0;
  width: 340px;
  height: 440px;
  padding: 30px 40px;
  border-radius: 10px;
  background-color: #f8f4ea;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.second {
  background-color: #e5e5cb;
}

.starter h2 {
  font-size: 40px;
  color: rgb(46, 46, 46);
  font-family: popins-2;
  text-align: center;
}

.starter p {
  color: darkorange;
  font-size: 22px;
  font-weight: 600;
  font-family: popins-2;
  text-align: center;
}

.starter h3 {
  color: grey;
  font-size: 16px;
  text-align: center;
  font-family: popins;
  font-weight: 400;
}

.tick {
  margin-top: 70px;
  margin-bottom: 20px;
}

.tick h2 {
  font-size: 16px;
  color: rgb(46, 46, 46);
  font-family: popins;
  margin-left: 1px;
  margin-top: -5px;
  text-align: left;
}

.tick-1 {
  width: 280px;
  display: flex;
  margin-top: 15px;
  text-transform: capitalize;
}

.tick-1 i {
  margin: 0 10px 6px 0;
  color: darkorange;
}

.btn__tick {
  margin: 50px 40px;
  margin: 50px 40px;
  width: 190px;
  font-size: 18px;
  padding: 7px 4px 10px 4px;
  font-weight: bold;
}

.btn__tick-2 {
  margin: 40px 40px;
  width: 190px;
  font-size: 18px;
  padding: 7px 4px 10px 4px;
  font-weight: bold;
}

.btn {
  width: 150px;
  background-color: rgb(245, 115, 9);
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  font-family: popins;
}

.cards-end-text {
  color: #444;
  opacity: 0.59;
  text-align: center;
  margin: 40px;
}

/* ----------------------------------------------------- */

.taxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  align-items: center;
}

.infinity {
  width: 250px;
  height: 250px;
  margin-top: 70px;
  align-items: center;
}

.infinity-icon {
  color: #f15412;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(240, 228, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.infinity h2 {
  font-size: 22px;
  color: #181818;
  font-family: popins-2;
  line-height: 38px;
}

.infinity p {
  font-size: 14px;
  color: #7f8487;
  font-family: popins;
  line-height: 30px;
  font-weight: 600;
}

/* ----------------------------------------------------------- */

.get__first__meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 330px;
  border-radius: 10px;
  background-color: rgb(245, 115, 9);
  margin: 1rem 0 5rem 0;
  overflow: hidden;
}

.meal__info {
  width: 50%;
  padding: 35px;
}

.meal__info h2 {
  font-size: 32px;
  color: rgb(36, 35, 35);
  font-family: popins-2;
  line-height: 38px;
  margin-bottom: 15px;
}

.meal__info p {
  font-size: 14px;
  color: rgb(39, 38, 38);
  font-family: popins;
  line-height: 30px;
  font-weight: 600;
}

.signin {
  display: grid;
  grid-template-areas:
    "a a b b"
    "c c b b";
  align-items: flex-end;
  justify-content: center;
}

.inp1 {
  grid-area: a;
}

.inp2 {
  grid-area: c;
}

input {
  border: none;
  border-radius: 10px;
  padding: 7px 9px;
  background-color: white;
}

.input-1 {
  width: 200px;
  height: 35px;
  margin: 0 15px 0 0;
}

.input-2 {
  width: 200px;
  height: 35px;
  margin: 0 15px 0 0;
}

.button-8 {
  grid-area: b;
  width: 200px;
  margin: 0 0 0 15px;
  background-color: #562b08;
  height: 35px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
}

.meal__img img {
  margin-top: 4px;
  width: 264px;
  filter: opacity(0.59);
  border-radius: 0 8px 0 0;
}

hr {
  margin-left: -130px;
  width: 125%;
}

/* -------------------------------------------- */

.footer-section {
  margin: 130px 0 0 0;
  width: 100%;
  height: 260px;
}

.footer-logo {
  width: 170px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  text-align: center;
  height: 201px;
  margin: 70px 0 0 8%;
}

.footer-logo-1 {
  margin: 5px 0 45px 5px;
  width: 30px;
  filter: grayscale(12);
  border-radius: 50%;
}

.footer-logo-2 {
  margin: 5px 0 45px 0;
  width: 30px;
  border-radius: 50%;
  filter: grayscale(12);
}

.footer-logo-3 {
  margin: 5px 0 45px 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: grayscale(12);
}

.service {
  margin-top: 14px;
  line-height: 36px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  color: #3c4048;
}

.adress {
  margin-top: 14px;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  color: #3c4048;
}

.footer-img {
  text-align: left;
  font-size: 13px;
}

.footer-img p {
  font-family: sans-serif;
  font-weight: 500;
}
